name: upper-build

on:
  push:
    paths:
      - ".github/workflows/upper-build.yaml"
      - "upper/**"
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: go version
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - run: go version


