name: upper-build

on:
  push:
    paths:
      - ".github/workflows/upper-build.yaml"
      - "upper/**"
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - run: go version


